<a href="https://colab.research.google.com/github/fatenchtioui/Time_series/blob/main/MPL_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
lien_data="https://raw.githubusercontent.com/nevermind78/Time_series_project/main/datasets/air_pollution.csv"
data= pd.read_csv(lien_data)

In [2]:
data.head(15)

,date,pollution_today,dew,temp,press,wnd_spd,snow,rain,pollution_yesterday
0,2010-01-02,145.958333,-8.500000,-5.125000,1024.750000,24.860000,0.708333,0.0,10.041667
1,2010-01-03,78.833333,-10.125000,-8.541667,1022.791667,70.937917,14.166667,0.0,145.958333
2,2010-01-04,31.333333,-20.875000,-11.500000,1029.291667,111.160833,0.000000,0.0,78.833333
3,2010-01-05,42.458333,-24.583333,-14.458333,1033.625000,56.920000,0.000000,0.0,31.333333
4,2010-01-06,56.416667,-23.708333,-12.541667,1033.750000,18.511667,0.000000,0.0,42.458333
5,2010-01-07,69.000000,-21.250000,-12.500000,1034.083333,10.170000,0.000000,0.0,56.416667
6,2010-01-08,176.208333,-17.125000,-11.708333,1028.000000,1.972917,0.000000,0.0,69.000000
7,2010-01-09,88.500000,-16.333333,-9.125000,1029.041667,13.298750,0.000000,0.0,176.208333
8,2010-01-10,57.250000,-15.958333,-8.750000,1032.500000,17.415833,0.000000,0.0,88.500000
9,2010-01-11,20.000000,-20.708333,-8.708333,1034.333333,41.685833,0.000000,0.0,57.250000
10,2010-01-12,20.750000,-23.541667,-12.416667,1030.708333,60.378333,0.000000,0.0,20.000000
11,2010-01-13,40.208333,-21.958333,-10.000000,1030.458333,169.754167,0.000000,0.0,20.750000
12,2010-01-14,93.708333,-17.625000,-9.500000,1025.208333,13.238750,0.000000,0.0,40.208333
13,2010-01-15,45.458333,-17.166667,-7.041667,1036.833333,12.381667,0.000000,0.0,93.708333
14,2010-01-16,177.625000,-13.500000,-8.416667,1033.041667,2.677917,0.000000,0.0,45.458333